body {
    font-family: system-ui;
}

* {
    box-sizing: border-box;
}

.output-section {
    margin-bottom: 1rem;
    padding-left: 6px;
    transition: box-shadow 250ms ease-in-out;
    box-shadow: -2px 0 0 0 rgba(175, 82, 222, 0.25);
}

.output-section:hover {
    box-shadow: -4px 0 0 0 rgba(175, 82, 222, 0.5);
}

h2 {
    font-size: 1.25rem;
}

table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    border: solid 1px lightgray;
}

table caption {
    margin-bottom: 0.5em;
}

table th {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: solid 1px lightgray;
}

table th:not(:last-child) {
        border-right: solid 1px lightgray;
    }

table td {
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.065);
}

code {
    font-family: ui-monospace;
}
